/*id selector*/
#end
{

}


/*id selector*/
#unit1div
{
max-height:300px;
overflow:hidden;


-webkit-transition: max-height 4.7s;
-moz-transition: max-height 4.7s;
transition: max-height 4.7s;

font-family: Arial, Helvetica, sans-serif;
background-color:#333;
/*max-width:500px;*/
padding-top: 10px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: auto;
border-radius: 50px;/*rounded corners*/
margin:auto;
width:60%;
border-style: solid;
border-color:red;
border-color: #ddd;/*light grey*/

}


/*id selector*/
#unit1div.open
{
-webkit-transition-delay: 0s;
max-height: 5000px;
width:100%;
-webkit-transition: max-height 0s;
-moz-transition: max-height 0s;
transition: max-height 0s;
font-family: Arial, Helvetica, sans-serif;
background-color:#333;
/*max-width:500px;*/
padding-top: 10px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: auto;
border-radius: 50px;/*rounded corners*/
margin:auto;
width:60%;
border-style: solid;
border-color:red;
border-color: #ddd;/*light grey*/
font-size:80%;
}


/*id selector*/
#show-x1
{
background: #ddd;/*light grey*/
color: black;
font-family: calibri;
display: block;
width: 140px;
font-size:24px;
text-transform: uppercase;
padding: 10px;
text-align: center;
margin: 20px auto;
cursor: pointer;

}


























/*id selector*/
#unit2div
{
max-height:300px;
overflow:hidden;
/*
-webkit-transition: max-height 0.7s;
-moz-transition: max-height 0.7s;
transition: max-height 0.7s;
*/
font-family: Arial, Helvetica, sans-serif;
background-color:#333;

/*max-width:500px;*/
padding-top: 10px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: auto;
border-radius: 50px;/*rounded corners*/
margin:auto;
width:60%;
border-style: solid;
border-color:red;
border-color: #ddd;/*light grey*/

}




/*id selector*/
#unit2div.open
{
max-height: 5000px;
width:100%;
-webkit-transition: max-height 2.7s;
-moz-transition: max-height 2.7s;
transition: max-height 2.7s;



font-family: Arial, Helvetica, sans-serif;
background-color:#333;
/*max-width:500px;*/
padding-top: 10px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: auto;
border-radius: 50px;/*rounded corners*/
margin:auto;
width:60%;
border-style: solid;
border-color:red;
border-color: #ddd;/*light grey*/
font-size:80%;
}




/*id selector*/
#show-x2
{
background: #ddd;/*light grey*/
color: black;
font-family: calibri;
display: block;
width: 140px;
font-size:24px;
text-transform: uppercase;
padding: 10px;
text-align: center;
margin: 20px auto;
cursor: pointer;

}

































/*id selector*/
#unit3div
{
max-height:300px;
overflow:hidden;
-webkit-transition: max-height 0.7s;
-moz-transition: max-height 0.7s;
transition: max-height 0.7s;
font-family: Arial, Helvetica, sans-serif;
background-color:#333;
/*max-width:500px;*/
padding-top: 10px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: auto;
border-radius: 50px;/*rounded corners*/
margin:auto;
width:60%;
border-style: solid;
border-color:red;
border-color: #ddd;/*light grey*/

}




/*id selector*/
#unit3div.open
{
max-height: 5000px;
width:100%;
-webkit-transition: max-height 0.7s;
-moz-transition: max-height 0.7s;
transition: max-height 0.7s;



font-family: Arial, Helvetica, sans-serif;
background-color:#333;
/*max-width:500px;*/
padding-top: 10px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: auto;
border-radius: 50px;/*rounded corners*/
margin:auto;
width:60%;
border-style: solid;
border-color:red;
border-color: #ddd;/*light grey*/
font-size:80%;
}



/*id selector*/
#show-x3
{
background: #ddd;/*light grey*/
color: black;
font-family: calibri;
display: block;
width: 140px;
font-size:24px;
text-transform: uppercase;
padding: 10px;
text-align: center;
margin: 20px auto;
cursor: pointer;

}


























/*id selector*/
#unit4div
{
max-height:300px;
overflow:hidden;
-webkit-transition: max-height 0.7s;
-moz-transition: max-height 0.7s;
transition: max-height 0.7s;
font-family: Arial, Helvetica, sans-serif;
background-color:#333;
/*max-width:500px;*/
padding-top: 10px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: auto;
border-radius: 50px;/*rounded corners*/
margin:auto;
width:60%;
border-style: solid;
border-color:red;
border-color: #ddd;/*light grey*/

}



/*id selector*/
#unit4div.open
{
max-height: 5000px;
width:100%;
-webkit-transition: max-height 0.7s;
-moz-transition: max-height 0.7s;
transition: max-height 0.7s;



font-family: Arial, Helvetica, sans-serif;
background-color:#333;
/*max-width:500px;*/
padding-top: 10px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: auto;
border-radius: 50px;/*rounded corners*/
margin:auto;
width:60%;
border-style: solid;
border-color:red;
border-color: #ddd;/*light grey*/
font-size:80%;
}




/*id selector*/
#show-x4
{
background: #ddd;/*light grey*/
color: black;
font-family: calibri;
display: block;
width: 140px;
font-size:24px;
text-transform: uppercase;
padding: 10px;
text-align: center;
margin: 20px auto;
cursor: pointer;

}












































/*class selector*/
.wholepage
{
background-color: #333;/*dark grey*/
}




.competency/*class selector*/
{
font-family: Arial, Helvetica, sans-serif;
color:#4CAF50;/*green*/
color: black;
color: #ddd;/*light grey*/

text-align: center;
font-size:300%;
border-style: solid;
border-radius: 20px;/*rounded corners*/
border-color: #ddd;/*light grey*/
width:60%;
margin:auto;
}


.unit/*class selector*/
{
font-family: Arial, Helvetica, sans-serif;
background-color:#333;
background-color:white;
/*max-width:500px;*/
padding-top: 10px;
padding-right: 50px;
padding-bottom: 50px;
padding-left: auto;
border-radius: 20px;/*rounded corners*/
margin:auto;
width:60%;
border-style: solid;

border-color: #ddd;/*light grey*/
border-color:red;
font-size:80%;
margin:auto;
}



.section/*class selector*/
{
background-color:red;
background-color: #808080;/*med grey*/

border-radius: 20px;/*rounded corners*/
margin:auto;
width:80%;
border-style: solid;
border-color:black;
padding-bottom: 275px;
padding-left: 50px;
padding-right: 10px;
padding-top: 10px;
}


/*LINKS WITHIN ANY SECTION OBJECT*/
/*No underline, white text*/
.section a
{
text-decoration: none;
color: white;
}


/*HOVER for LINKS WITHIN ANY SECTION OBJECT*/
.section a:hover 
{
text-decoration: ;
background-color: black;
color:white;
}


/*VISITED for LINKS WITHIN ANY SECTION OBJECT*/
.section a:link
{
background-color: #4CAF50;/*green*/
color: orange;
color: white;
width:150px;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size:150%;
border-radius: 50px;/*rounded corners*/
}





/*BUTTONS and SECTION NUMBER(S)*/
.subsection1 
{
float:left;
margin:10px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
border-style: solid;
border-color:black;
border-radius: 50px;/*rounded corners*/
}

/*UNVISITED LINK within BUTTONS and SECTION NUMBER(S)*/
.subsection1 a:link
{
background-color: #4CAF50;/*green*/
color: orange;
color: white;
width:150px;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size:150%;
border-radius: 50px;/*rounded corners*/
}

/*VISITED LINK within BUTTONS and SECTION NUMBER(S)*/
.subsection1 a:visited
{
text-decoration: ;

background-color: #4CAF50;/*green*/

color:white;
}

/*HOVER LINK within BUTTONS and SECTION NUMBER(S)*/
.subsection1 a:hover
{
text-decoration: ;
background-color: blue;
color:white;
}




/*SECTION DESCRIPTIONS*/
.subsection2
{
float:left;
margin:10px;
padding-bottom: 20px;
padding-left: 30px;
padding-right: 10px;
padding-top: 20px;
border-style: solid;
border-color:black;
width:500px;
font-size:150%;
background-color: #ddd;/*light grey*/
border-radius: 50px;/*rounded corners*/
}




.subsection3/*for assmt buttons*/
{
float:left;
/*
border-style: solid;
border-color:black;
*/
}


/*BUTTON*/
/*links within subsection 3*/
.subsection3 a
{
background-color: #4CAF50;/*green*/
color: orange;
color: white;
width:150px;
padding: 14px 25px;
text-align: center;
text-decoration: none;
display: inline-block;
border-style: solid;
border-color:black;
}

/*links within subsection 3*/
.subsection3 a:hover 
{
text-decoration: ;
background-color: blue;
color:white;
}






/*class selector*/
.large
{
font-family: Arial, Helvetica, sans-serif;
/*--font-family: "Times New Roman", Times, serif;*/
font-style: oblique;
font-size:300%;
text-align:center;
color:black;
}


/*class selector*/
.small
{
font-family: Arial, Helvetica, sans-serif;
/*--font-family: "Times New Roman", Times, serif;*/
font-style: oblique;
font-size:70%;
text-align:left;
color:purple;
}







/*class selector*/
.navsection
{

font-family: Arial, Helvetica, sans-serif;

border-color:black;
max-width:1000px;
width:50%;
margin:auto;
border-style: solid;
background-color:silver;

}




/*class selector*/
.nav
{
background-color:white;
margin:auto;
border-style: solid;
border-color:black;
}





















/*class selector*/
.topnav 
{
overflow: hidden;
background-color: #808080;/*med grey*/

}


/*class selector*/
/* 'a' is for link within the topnav class*/
.topnav a 
{
float: left;
color: #f2f2f2;/*light grey*/
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

/*class selector*/
.topnav a:hover 
{
background-color: #ddd;/*light grey*/
color: black;
}

/*class selector*/
.topnav a.active 
{
background-color: #4CAF50;
color: white;
}

/*class selector*/
.topnav-right 
{
  float: right;
}